# Exclude IDE-specific files
.idea/
*.iml
*.iws
*.ipr

# Exclude development logs
logs/

# Exclude Git-related files
.git/
.gitignore

# Exclude Docker-related files
Dockerfile
.dockerignore

# Exclude test files
src/test/

# Exclude any other files or directories specific to your project